body {
    
    background-repeat: no-repeat;
    background-size: cover;
   
    
}

.img{
    background-position: center;
     background-image: url(Smt_Lilavatibai_Podar_High_School_Mumbai_image1_2690.jpeg);
    
}